.header {
    text-align: center;
}

.header h1 {
    
}

.header img {
    width: 200px;
    margin: 0 auto;
}

.suggestions {
    margin-top: 20px;
}

.suggestions h3 {
    text-align: center;
    margin-bottom: 10px;
}